POSTGRES_URL="postgres://neondb_owner:npg_BWE0PjhrTgD2@ep-noisy-pine-a2xvd0lq-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require"
NEXT_PUBLIC_API_URL="http://localhost:3000/api"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_51S6bHmHL5dsPs5TRg8rxnFIKGkBeDEzR4yWX9M9qnlaGGS9jyuqWAoMYWCL0nEa4aham66Q3iyfmxxFVgBoojREA00NFGGiYAz"
STRIPE_SECRET_KEY="sk_test_51S6bHmHL5dsPs5TRRYDKbfoswpabi7rdV4IXZPvBDoANqfWB3QGWaLOPGkNxslhSbhJhTDW6TNDpW548jkP11YEY00Bjp9G3SZ"
JWT_SECRET="53b03ab1dfcb39833618636a43ec475c3e83d43c6bd97377db97ba8bac79731c5c8279afb5c5b0258381e716f671bfde369fc6f02f52c19a1cd56c6c70ac5a1d"
NEXT_PUBLIC_SOCKET_URL="https://bookstore-production-7a54.up.railway.app"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
